---
import Section from "@/components/Section.astro";
import { basics } from "cv.json";

const { summary } = basics;
---

<Section title="About">
    <p class="font-mono text-gray-400">
        {summary}
    </p>
</Section>
