---
import Section from "@/components/Section.astro";
---

<Section>
    <div class="flex justify-between mb-5 font-sans">
        <div>
            <ul class="flex flex-row gap-4">
                <!-- <li><a href="#"></a>Home</li>
                <li>Books</li>
                <li>Open-source ❤</li> -->
                <li class="invisible sm:visible">
                    <kbd class="bg-gray-800 px-2 py-1 rounded-lg">Cmd + K</kbd>
                </li>
            </ul>
        </div>
        <!-- <div class="flex flex-row gap-4">
            <select
                class="block w-full p-1 text-sm bg-transparent rounded-lg focus:bg-gray-200 hover:cursor-pointer dark:focus:bg-gray-600 dark:hover:bg-gray-600"
            >
                <option selected value="EN">EN</option>
                <option value="ES">ES</option>
            </select>
            <label class="inline-flex items-center cursor-pointer">
                <input type="checkbox" value="" class="sr-only peer" />
                <div
                    class="relative w-9 h-5 bg-gray-200 peer-focus:outline-none peer-focus:ring-4 peer-focus:ring-blue-300 dark:peer-focus:ring-blue-800 rounded-full peer dark:bg-gray-700 peer-checked:after:translate-x-full rtl:peer-checked:after:-translate-x-full peer-checked:after:border-white after:content-[''] after:absolute after:top-[2px] after:start-[2px] after:bg-white after:border-gray-300 after:border after:rounded-full after:h-4 after:w-4 after:transition-all dark:border-gray-600 peer-checked:bg-blue-600"
                >
                </div>
            </label>
        </div> -->
    </div>
</Section>

<style>
    /* kbd {
        background: #d6d6d6;
        padding: 2px 4px;
        border-radius: 4px;
        margin: 0 4px;
        color: black;
    } */
</style>
