---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Welcome to Astro.">
	<main class="py-24 px-4 w-full flex flex-col items-center gap-2">
		<p>Hola</p>
	</main>
	<section class="py-24 px-4 w-full flex flex-col items-center gap-2">
		<p>Hola</p>
	</section>
</Layout>
