---
import Layout from "../layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import KeyBoardManager from "@/components/KeyBoardManager.astro";
import Languages from "@/components/sections/Languages.astro";
import Projects from "@/components/sections/Projects.astro";
import Skills from "@/components/sections/Skills.astro";

import { basics } from "cv.json";
const { name, label } = basics;
---

<Layout title=`Portfolio ${name} - ${label}`>
	<main class="container mx-auto p-4 space-y-8 mb-10">
		<Languages />
		<Hero />
		<About />
		<Experience />
		<Education />
		<Skills />
		<Projects />
	</main>
	<KeyBoardManager />
</Layout>
