---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
	<main class="flex py-16 mx-10">
		<div class="flex-col h-full w-full items-center justify-center">
			<h1 class="font-bold text-6xl">Hola!</h1>
			<h2 class="text-4xl">Full-Stack Engineer</h2>
		</div>
		<div
			class="flex-col h-full w-full items-center justify-center text-center"
		>
			<div></div>
		</div>
	</main>
</Layout>
