<section class="mx-auto w-full max-w-2xl space-y-8 print:space-y-6">
    <div class="flex items-center justify-between">
        <div class="flex-1 space-y-1.5">
            <h2 class="text-xl font-bold">About</h2>
            <p class="text-pretty text-sm text-muted-foreground">Sobre miii</p>
        </div>
    </div>
</section>
