<section class="mx-auto w-full max-w-2xl space-y-8 print:space-y-6">
    <div class="flex items-center justify-between">
        <div class="flex-1 space-y-1.5">
            <h2 class="text-xl font-bold">Work Experience</h2>
            <!-- <p class="text-pretty text-sm text-muted-foreground">
                Sobre miii
            </p> -->
            <div class="rounded-lg bg-card text-card-foreground">
                <div class="flex flex-col space-y-1.5">
                    <div
                        class="flex items-center justify-between gap-x-2 text-base"
                    >
                        <h3
                            class="inline-flex items-center justify-center gap-x-1 font-semibold leading-none"
                        >
                            <a class="hover:underline" href="#"> company</a>

                            <span class="inline-flex gap-x-1">
                                <div class="align-middle text-xs">
                                    <div
                                        class="inline-flex items-center rounded-md border px-2 py-0.5 text-xs font-semibold font-mono transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-nowrap"
                                    >
                                        Etiqueta
                                    </div>
                                </div>
                            </span>
                        </h3>
                        <div class="text-sm tabular-nums text-gray-500">
                            start - end
                        </div>
                    </div>

                    <h4 class="font-mono text-sm leading-none">title</h4>
                </div>

                <div
                    class="text-pretty font-mono text-sm text-muted-foreground"
                >
                    <div class="mt-2 text-xs">Card content</div>
                </div>
            </div>
        </div>
    </div>
</section>
